<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Variant prices based on extras and coefficients</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
               <img src="main.png">
            </div>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32">
Product variant prices are calculated based on advanced scheme:
<ul><li>Add extra price</li>
<li>Use coeffient related to base template price</li></ul>
			</p>
        </div>
    

    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Do you want more?</h2>
        </div>

        <div class="oe_span6">
            <p class="oe_mt32">
Just let us know <a href="http://itlibertas.net/page/website.contactus">on the website</a>. Any solutions at freelance prices with corporate level quality. 
            </p>
        </div>
    
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://itlibertas.net">
                    <img src="site.png">
                </a>
            </div>
        </div>
    </div>
</section>
